.active-pink-2 input[type=text]:focus:not([readonly]) {
    
    border-bottom: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */

}

.form-dim{
    margin-top: 30px; 
    width: 420px;
    
}
.my-style{
    color:#ffa500;
    font-weight: bold
}
.btn {
    margin-top: 0 !important;
    padding: .75rem 2.14rem !important; 
    }
   
    .bold{
        font-weight: bold;
        
    }