<div class="row justify-content-center align-items-centre " style="margin-top: 70px;">

    <mdb-card class="cardSize border-0 no-pad rounded-top" id="card1">

        <div class="card-header rounded-bottom pt-4" id="hdr1" mdbWavesEffect>Our Health Mission </div>

        <mdb-card-body>
            <!--Text-->
            <mdb-card-text> Talk to a doctor online for as little as $19. We’ll send your prescription to any local
                pharmacy or right to
            </mdb-card-text>

        </mdb-card-body>
        <div class="card-footer mt-5 text-center">

            <!--Facebook-->
            <span class="mx-2">
                <mdb-icon fas icon="angle-double-left"></mdb-icon>
            </span>
            <span class="mx-4">
                <mdb-icon fas icon="briefcase-medical"></mdb-icon>
            </span>
            <span class="mx-2">
                <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </span>

        </div>
    </mdb-card>
    <!-- end card 1 -->

    <mdb-card class="cardSize no-pad rounded-top border-top-0" id="card2">
        <div class="card-header rounded-bottom " id="hdr2" mdbWavesEffect>Experience and Professionalism </div>

        <!--Card content-->
        <mdb-card-body>
            <mdb-card-text> Talk to a doctor online for as little as $19. We’ll send your prescription to any local
                pharmacy or right to
            </mdb-card-text>

        </mdb-card-body>
        <div class="card-footer mt-5 text-center">

            <!--Facebook-->
            <span class="mx-2">
                <mdb-icon fas icon="angle-double-left"></mdb-icon>
            </span>
            <span class="mx-4">
                <mdb-icon fas icon="book-medical"></mdb-icon>
            </span>
            <span class="mx-2">
                <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </span>

        </div>
    </mdb-card>
    <!-- card2 ended -->
    <mdb-card class="cardSize no-pad rounded-top border-top-0" id="card3">
        <div class="card-header rounded-bottom pt-4 " id="hdr3" mdbWavesEffect>Pharmacists who care </div>
        <!--Card content-->
        <mdb-card-body>
            <mdb-card-text> Talk to a doctor online for as little as $19. We’ll send your prescription to any local
                pharmacy or right to
            </mdb-card-text>

        </mdb-card-body>
        <div class="card-footer mt-5 text-center">

            <!--Facebook-->
            <span class="mx-2">
                <mdb-icon fas icon="angle-double-left"></mdb-icon>
            </span>
            <span class="mx-4 ">
                <mdb-icon fas icon="comment-medical"></mdb-icon>
            </span>
            <span class="mx-2">
                <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </span>

        </div>
    </mdb-card>
</div>