.cardSize{
    width: 200px;
}

#hdr1{
    background-color: #ffa500 !important;
    height: 80px;
    text-align: center;
    justify-content: center !important;

   
}

#hdr2{
    background-color: #ffcc47 !important;
   
    height: 80px;
    text-align: center;
    justify-content: center !important;

}
#hdr3{
    background-color: #4285F4!important;
    height: 80px;
    text-align: center;
    justify-content: center !important;
}
.no-padd{
    padding:0 0 0 0 !important;
   

}
#card1{
   border: 2px solid #e0dfdb !important;
   width:270px;
   border-top: none !important;
   margin-right:60px;
   margin-bottom:20px
    
}
#card2{
    border: 2px solid #e0dfdb !important;
    width:270px;
    border-top: none !important;
    margin-right:60px;
    margin-bottom:20px
}
#card3{
    border: 2px solid #e0dfdb !important;
    width:270px;
    border-top: none !important;
    margin-right:60px;
    margin-bottom:20px
}
