.form-column{
    width: 400px;
    justify-content: center !important;
    align-items: center !important;
    
}
.btn1 {
    margin-top: 23px !important;
    margin-block: 15px;
    padding: .68rem 2.14rem !important;
    width: 385px; 
    border:#4285F4 2px solid  ;
    height: 40px;
    // margin-left: 15px;
    font-size: 10px !important;
    
    }
    // .border{
    //     width:400px;
    //     text-align: center !important;
    //     justify-content: center !important;
    // }
.input-group.md-form.form-sm.form-4 input {
        border: 1px solid #bdbdbd;
        }
.input-group.md-form.form-sm.form-3 input[type=text]:focus:not([readonly]).amber-border {
            border: 1px solid #ffca28;
            box-shadow: none;
            }
.input-group.md-form.form-sm.form-3 input {
                border: 1px solid #bdbdbd;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                }
// .font{
//     color:white!important;
//     font-size: 12px;
//      }                  
.font{
    color:#FF8800!important;
    font-size: 12px;
    font-weight: bold;
    }   