.form-column{
    width: 400px;
    justify-content: center !important;
    align-items: center !important;
    
}
// .btn {
//     margin-top: 23px !important;
//     margin-block: 15px;
//     padding: .68rem 2.14rem !important;
//     width: 385px; 
//     border:#4285F4 2px solid  ;
//     }

.btn1 {
    margin-top: 23px !important;
    margin-block: 15px;
    padding: .68rem 2.14rem !important;
    width: 185px; 
    border:#4285F4 2px solid  ;
    height: 40px;
    // margin-left: 15px;
    font-size: 10px !important;
    
    }