    
::ng-deep .navCss nav
{
      background-color: #212121;
      
}

.font{
    color:white!important;
}
mdbDropdownToggle{
    display: none;
}
.centre{
justify-content: center !important;
align-items: center !important;
}
